* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    padding: 10px 60px;
    border: 1px solid red;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.header .search-bar {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 10px;
    align-items: center;
}

.header .search-bar > input {
    border: none;
    border-radius: 15px;
    background-color: lightgray;
    height: 30px;
    padding: 5px;
}

.header .profile-info {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.portrait {
    height: 45px;
    width: 45px;
    border: 1px solid black;
    border-radius: 50%;
}

.header-welcome {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 25px;
    align-items: center;
    font-size: large;
    line-height: 3ch;
}

.welcome-text > p:first-child {
    font-size: small;
}


.header-welcome .portrait {
    height: 65px;
    width: 65px;
}

.header-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: end;
    gap: 10px;
}

.header-buttons > button {
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 18px;
    background-color: blue;
    color: white;
}

.sidebar {
    padding: 25px;
    background-color: blue;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    color: white;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 75px;
}

.sidebar > div {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 25px;
}

.main-content {
    padding: 25px 20px;
    border: 1px solid green;
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content 1fr;
    gap: 20px;
}

.content-left-column {
    grid-column: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, max-content);
    gap: 20px;
}

.project-card {
    height: 140px;
    border: 1px solid black;
    border-left: 8px solid orange;
    border-radius: 12px;
    padding: 30px 20px;

    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr max-content;
}

.project-card .card-text {
    grid-column: 1 / -1;
}

.project-card .card-text > p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}

.project-card .card-icons {
    justify-self: end;

    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
}

.content-right-column {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements {
    padding: 15px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    border-radius: 12px;
}

.announcements > div {
    padding: 15px;
}

.announcements > div:nth-child(1),
.announcements > div:nth-child(2) {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.announcements > div > p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}