:root {
    --header: #fffbeb;
    --card:  #fffbeb;
    --card-side: #fcd34d;
    --background-color: #ffedd5;
    --sidebar-color: #b45309;
    --sidebar-text: #fef3c7;
    --text: #431407;
    --button: #b45309;
    --button-text: #fef3c7;
    --sidebar-header: 26px;
    --sidebar: 20px;
    --announcement-title: 14px;
    --announcement-text: 12px;
    --column-title: 20px;
    --card-title: 18px;
    --card-shadow: 5px 7px 5px 2px rgba(0,0,0,0.1);
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf), url(fonts/Roboto/Roboto-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    position: relative;
    z-index: 10;
    padding: 10px 60px 15px 60px;
    background-color: var(--header);
    color: var(--text);
    box-shadow: var(--card-shadow);
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.header .search-bar {
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 15px;
    align-items: center;
}



.header .search-bar > input {
    border: none;
    border-radius: 15px;
    background-color: var(--background-color);
    height: 30px;
    padding: 5px;
}

.header .profile-info {
    font-weight: bold;
    display: grid;
    grid-template-columns: 25px repeat(2, max-content);
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.portrait {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: var(--background-color);
    padding: 5px;
}

.header-welcome {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 25px;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
}

.welcome-text > p:first-child {
    font-size: 14px;
}


.header-welcome .portrait {
    height: 65px;
    width: 65px;
}

.header-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: end;
}

.header-buttons > button {
    height: 40px;
    width: 90px;
    border: none;
    background-color: var(--button);
    border-radius: 18px;
    color: var(--button-text);
    font-weight: bold;
    cursor: pointer
}

.header-buttons > button:hover {
    transform: scale(1.1);
}

.sidebar {
    padding: 25px;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    background-color: var(--sidebar-color);
    color: var(--sidebar-text);
    font-weight: bold;

    display: grid;
    grid-template-rows: repeat(3, max-content);
    gap: 55px;
}

.sidebar > div {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 25px;
}

.sidebar > div > img {
    width: 23px; 
    justify-self: center;
}

.sidebar > .top-sidebar > img {
    width: 50px;
}

.sidebar > div > p {
    display: inline-block;
    position: relative;
}

.sidebar > div > p::after {
    content: '';
    position: absolute;
    width: 75%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--sidebar-text);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.sidebar > div > p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sidebar > div > p:hover {
    cursor: pointer;
}

.sidebar .top-sidebar {
    font-size: var(--sidebar-header);
    gap: 10px;
}

.middle-sidebar,
.bottom-sidebar {
    font-size: var(--sidebar);
    margin-left: 12px;
}

.column-title {
    font-weight: bold;
    font-size: var(--column-title);
}

.main-content {
    padding: 25px 20px;
    padding-bottom: 60px;
    color: var(--text);
    background-color: var(--background-color);
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: max-content 1fr;
    gap: 20px;
}

.content-left-column {
    grid-column: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 25px;
}

.project-card {
    background-color: var(--card);
    border-left: 8px solid var(--card-side);
    box-shadow: var(--card-shadow);
    border-radius: 12px;
    padding: 30px 20px;

    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr max-content;
}

.project-card .card-text {
    grid-column: 1 / -1;
}

.project-card .card-text > p:first-child {
    font-weight: bolder;
    margin-bottom: 5px;
    font-size: var(--card-title)
}

.project-card .card-icons {
    justify-self: end;

    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
}

.card-icons > img {
    width: 25px;
    cursor: pointer;
}

.content-right-column {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.announcements {
    background-color: var(--card);
    box-shadow: var(--card-shadow);
    padding: 15px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 12px;
}

.announcements > div {
    padding: 15px;
}

.announcements > div:nth-child(1),
.announcements > div:nth-child(2) {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.announcements > div > p {
    font-size: var(--announcement-text);
}

.announcements > div > p:first-child {
    font-weight: bold;
    font-size: var(--announcement-title);
    margin-bottom: 5px;
}

.trending {
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 10px;
}

.trending-card {
    background-color: var(--card);
    box-shadow: var(--card-shadow);
    border-radius: 12px;
    padding: 15px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.trending-card > div {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 10px;
}

.trending-card > .profiles > div > p:last-child {
    font-weight: lighter;
    font-size: 14px;
}